<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SOA</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h2>Software-Oriented-Architecture</h2>
    <div class="container">
      <div class="box">
        <h2>B)Question</h2>
        <p> List the author of the book which price is between 170 and 300.</p>
        <a href="/b">Select</a>
      </div>
      <div class="box">
        <h2>C)Question</h2>
        <p>Retrieve the customer phone number who brought the book with author name “John”.</p>
        <a href="/c">Select</a>
      </div>
      <div class="box">
        <h2>D)Question</h2>
        <p> Delete the tuple with price 430 from the table Book.</p>
        <a href="/d">Select</a>
      </div>
      <div class="box">
        <h2>Display</h2>
        <p>Display all data.</p>
        <a href="/display">Select</a>
      </div>
    </div>
  </body>
</html>
